.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 80px;
    width: 80vw;
}

.header h1 {
    font-size: 36px;
    font-weight: 600;
    color: #333;
    width: 50%;
}

.header form{
    display:  flex;
    gap: 10px;
}
.header form input {
    border: 1px solid #333333bb;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
}
.header form input:focus {
    outline: #ea580c;
}


@media (max-width: 640px) {
    .header {
        flex-direction: column;
    }
    .header h1 {
        font-size:22px;
        width: 70vw;
        margin-bottom: 20px;
    }
    .header form{
        flex-direction: column;
        width: 70vw;
    }
}