.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: white;
    opacity: 0.9;
    color: #000;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    padding: 0px 40px;
    margin-bottom: 60px;
    box-shadow: 4px 1px 10px #333;
    z-index: 999;
}

.nav  img {
    width: 90px;
    height: 70px;
    /* color: #000; */
    cursor: pointer;
 }